@font-face {
    font-family: "--font-BebasNeue";
    src: url(fonts/BebasNeue.otf) format("opentype");
}

@font-face {
    font-family: "--font-TrebuchetMS";
    src: url(fonts/TrebuchetMS.ttf) format("truetype");
}

@font-face {
    font-family: "--font-websymbols";
    /* src: url(fonts/websymbols-regular-webfont.eot) format("eot");
    src: url(fonts/websymbols-regular-webfont.svg) format("svg");
    src: url(fonts/websymbols-regular-webfont.woff) format("woff"); */
    src: url(fonts/websymbols-regular-webfont.ttf);
}

:root {
    --color-azul-claro: #37bcf9;
    --color-azul-oscuro: #004e88;
    --color-gris-oscuro: #393d3f;
    --color-bordes: #ccc;
    --color-sombras: #aaa;
    --font-size: 15px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(img/pattern.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*###############   HEADER  ###############*/

#header {
    width: 100%;
}

/*---------------   NAVBAR  ---------------*/

#header #navbar {
    width: 100%;
    padding: 8px 10%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}
#header #navbar #logo {
    width: 210px;
    height: 60px;
    flex-shrink: 0;
    background-color: var(--color-azul-claro);
    margin-right: auto;
    display: flex;
    align-items: center;
}
#header #navbar #logo #gear {
    display: inline-block;
    color: white;
    font-family: "--font-websymbols";
    font-size: 1.8em;
    margin-right: 15px;
    margin-left: 20px;
}
#header #navbar #logo #blog {
    display: inline-block;
    font-family: "BebasNeue";
    color: white;
    font-size: 2.1em;
    font-weight: bold;
}
.navbar-item {
    text-decoration: none;
    font-family: "BebasNeue";
    font-size: 1.5em;
    color: white;
    margin: auto 25px;
}

/*---------------   BANNER  ---------------*/

#header #banner {
    width: 80%;
    /* height: 110px; */
    /* margin-bottom: 40px; */
    background-image: url(img/bakbaner.png);
    margin: 20px auto;
    border: 10px solid white;
    border-radius: 4px;
    text-align: center;
    font-family: "BebasNeue";
    color: white;
    font-weight: lighter;
    /* line-height: 90px; */
    padding: 20px 10px;
    letter-spacing: 0.2em;
    font-size: 1em;
    box-shadow: 0px 0px 2px #aaa;
}

/*###############   CARDS  ###############*/

#cards {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#cards .card {
    border: 1px solid #ccc;
    width: 200px;
    height: 310px;
    margin: 40px 0px 70px 0px;
    padding: 30px 5px;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#cards .card:nth-child(1) {
    margin-left: 0px;
}
#cards .card:nth-child(5) {
    margin-right: 0px;
}
#cards .card .card-image {
    font-family: "--font-websymbols";
    font-size: 3.2em;
    margin-bottom: 60px;
}
#cards .card .card-title {
    font-family: "--font-TrebuchetMS";
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-azul-oscuro);
    margin-bottom: 25px;
}
#cards .card .card-text {
    font-family: "--font-TrebuchetMS";
    color: var(--color-azul-oscuro);
    text-align: center;
    font-size: 1em;
}
/*###############   MAIN  ###############*/

/*---------------   CENTER  ---------------*/
#main {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
#main #center-content {
    width: 70%;
}
#main .main-title {
    width: 100%;
    background-color: white;
    background-image: url(img/pxgray.png);
    background-repeat: repeat;
    box-shadow: 2px 2px 0px black;
    text-align: center;
    font-family: "--font-BebasNeue";
    font-size: 1.5em;
    letter-spacing: 0.15em;
    margin-bottom: 30px;
}
#main #articles {
    width: 100%;
    background-color: white;
}
#main #articles .article {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 40px;
    position: relative;
}
#main #articles .article .titulo-articulo {
    font-family: "--font-TrebuchetMS";
    color: var(--color-azul-oscuro);
    font-size: 1em;
    margin-bottom: 15px;
}
#main #articles .article .fecha-articulo {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 8px;
    background-color: var(--color-gris-oscuro);
    border-bottom-left-radius: 5px;
    font-family: "--font-TrebuchetMS";
    color: white;
}
#main #articles .article .texto-articulo {
    font-family: "--font-TrebuchetMS";
}
#main #ir-al-blog {
    background-color: white;
    font-family: "--font-TrebuchetMS";
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.1em;
    border: 1px solid #ccc;
    padding: 30px;
    margin-bottom: 30px;
}
#main #ir-al-blog a {
    text-decoration: none;
    color: var(--color-azul-oscuro);
    font-weight: bold;
}
/*---------------   ASIDE SIDEBAR  ---------------*/
#sidebar-right {
    width: 22%;
}
#sidebar-right .widget {
    width: 95%;
    margin: 10px auto;
    font-family: "--font-TrebuchetMS";
}
#sidebar-right .widget .widget-titulo {
    margin-bottom: 10px;
}
#sidebar-right .widget input {
    width: 95%;
    height: 25px;
    border: 1px solid var(--color-bordes);
    border-radius: 5px;
    box-shadow: -1px -1px 3px var(--color-sombras);
}
#sidebar-right #widget-buscar input::placeholder {
    font-family: "--font-websymbols";
    font-weight: bold;
    text-align: right;
}
#widget-login {
    position: relative;
}
#sidebar-right #widget-login form input::placeholder {
    font-family: "--font-websymbols";
    font-weight: bold;
    text-align: left;
}
#sidebar-right #widget-login form {
    background-color: white;
    border: 1px solid var(--color-bordes);
    border-radius: 5px;
    box-shadow: 0px 0px 3px var(--color-sombras);
}
#sidebar-right #widget-login form input[type="submit"] {
    width: 40%;
    margin-right: 15px;
    float: left;
    height: 35px;
    margin-top: 10px;
    background-color: var(--color-azul-claro);
    color: white;
    border: 1px solid var(--color-azul-oscuro);
    border-radius: 5px;
    box-shadow: -1px -1px 3px var(--color-sombras);
}
#sidebar-right #widget-login form button {
    width: 40%;
    float: left;
    height: 35px;
    margin-top: 10px;
    background-color: var(--color-azul-claro);
    color: white;
    border: 1px solid var(--color-azul-oscuro);
    border-radius: 5px;
    box-shadow: -1px -1px 3px var(--color-sombras);
}

#sidebar-right #widget-login input {
    margin: 10px 5px;
}
#widget-login #olvidado {
    font-family: "--font-TrebuchetMS";
    text-decoration: none;
    color: black;
}

#widget-redes #icons {
    width: 90%;
    background-color: white;
    border: 1px solid var(--color-bordes);
    border-radius: 5px;
    box-shadow: 0px 0px 3px var(--color-sombras);
    padding: 15px 20px;
}
#sidebar-right #widget-redes #icons a {
    display: block;
    font-family: "--font-websymbols";
    color: black;
    font-size: 2em;
    margin-bottom: 10px;
    text-decoration: none;
}
#widget-colaboradores #cuadro {
    width: 90%;
    height: 100px;
    background-color: white;
    border: 1px solid var(--color-bordes);
    border-radius: 5px;
    box-shadow: 0px 0px 3px var(--color-sombras);
    padding: 15px 20px;
}

/*###############   FOOTER  ###############*/
#footer {
    width: 100%;
    padding: 20px 10%;
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-widget {
    width: 30%;
    height: fit-content;
    margin-bottom: 10px;
}
#footer-widget-1 #menu-list {
    padding-left: 20px;
    font-family: "--font-TrebuchetMS";
    color: white;
    line-height: 2.5em;
}
#footer-widget-1 #menu-list ul a {
    width: 100%;
    color: var(--color-azul-claro);
    text-decoration: none;
}
.small-title {
    width: 100%;
    background-color: white;
    background-image: url(img/pxgray.png);
    background-repeat: repeat;
    border-radius: 5px;
    box-shadow: 2px 2px 0px black;
    text-align: center;
    font-family: "--font-BebasNeue";
    font-size: 1.5em;
    letter-spacing: 0.15em;
    margin-bottom: 10px;
}
#footer-widget-2 #mapa {
    width: 100%;
    border-radius: 5px;
}
#footer-widget-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#footer-widget-3 #img-des img {
    width: 85%;
    margin-bottom: 10px;
}
#footer-widget-3 #tecnologias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
#footer-widget-3 #tecnologias img {
    width: 14%;
}
#footer-widget-3 p {
    color: white;
    font-family: "--font-TrebuchetMS";
}
#footer-widget-3 p a {
    color: white;
    font-family: "--font-TrebuchetMS";
    text-decoration: none;
}
